@mixin input-border {
  border: 1px solid #ececec;
  border-radius: 3px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  .label {
    font-size: medium;
    font-weight: 500;
  }

  input[type="text"] {
    @include input-border();
  }
  textarea {
    @include input-border();
    resize: vertical;
  }
  button {
    background-color: #0094ff;
    outline: none;
    border: none;
    border-radius: 3px;
    color: #ececec;
    font-weight: 600;
    align-self: flex-end;
  }
  .error {
    color: red;
    font-size: small;
  }
}
