@import url(./_functions.scss);
@import url(./_app.scss);
@import url(./_input.scss);
@import url(./_comment.scss);
@import url(./_sort.scss);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  margin: 0;
}

.full-width {
  width: 100%;
}
